.better-uni{
  .menu-better-uni{
    .item-menu{
      color: $color-suva-grey;
      margin: auto;
      cursor: pointer;
      &.active{
        color: $color-prussian-blue;
        span{
          font-weight: bold;
        }
      }
      span{
        text-align: center;
        display: flex;
        &.icon-better-uni{
          &:before{
            font-size: 55px;
          }
        }
      }
    }
  }
  .list-articles{
    .logo-better{
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 15px;
      background-position: center;
    }
  }
}