.custom-card {
  .custom-card-content {
    .custom-card-title {
      font-size: $f-16;
    }
    .custom-card-sub-title {
      font-size: $f-14;
    }
  }
  .custom-card-icon {
    span {
      line-height: 0.8;
      &:before {
        font-size: 50px;
        background: $linear-gradient-midnight-blue-to-turquoise;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  @include media-query("(max-width:576px) and (min-width:480px)") {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  &.card-md {
    @include media-query("(max-width:992px)") {
      .custom-card-title {
        font-size: $f-12;
      }
      .custom-card-sub-title {
        font-size: $f-10;
      }
    }
  }
  &.card-sm {
    @include media-query("(max-width:767px)") {
      flex-wrap: wrap;
      .custom-card-title {
        font-size: $f-14;
      }
      .custom-card-sub-title {
        font-size: $f-12;
      }
    }
  }
  &.card-xs {
    @include media-query("(max-width:480px)") {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
}

.data-analysis{
  .custom-card{
    &:nth-child(odd){
      .custom-card-content{
        padding-left: 0;
        .custom-card-title{
          text-align: center;
          @include media-query("(min-width:768px)"){
            text-align: left;
          }
        }
        .custom-card-sub-title{
          text-align: center;
          @include media-query("(min-width:768px)") {
            text-align: left;
          }
        }
      }
    }
    &:nth-child(even){
      .custom-card-content{
        padding-right: 0;
        .custom-card-title{
          text-align: center;
          @include media-query("(min-width:768px)") {
            text-align: right;
          }
        }
        .custom-card-sub-title{
          text-align: center;
          @include media-query("(min-width:768px)") {
            text-align: right;
          }
        }
      }
    }
  }
}

.rtl{
  .data-analysis{
    .custom-card{
      &:nth-child(odd){
        .custom-card-content{
          padding-right: 0;
          .custom-card-title{
            text-align: center;
            @include media-query("(min-width:768px)"){
              text-align: right;
            }
          }
          .custom-card-sub-title{
            text-align: center;
            @include media-query("(min-width:768px)") {
              text-align: right;
            }
          }
        }
      }
      &:nth-child(even){
        .custom-card-content{
          padding-left: 0;
          .custom-card-title{
            text-align: center;
            @include media-query("(min-width:768px)") {
              text-align: left;
            }
          }
          .custom-card-sub-title{
            text-align: center;
            @include media-query("(min-width:768px)") {
              text-align: left;
            }
          }
        }
      }
    }
  }
}