footer {
  background: #{$color-surfie-green} url("../images/footer-background.png") fixed center no-repeat;
  background-size: cover;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: $background-color-before-footer;
  }

  .title-content-footer {
    border-bottom: 1px solid #{$color-white};
    h5 {
      @include media-query("(max-width:1100px) and (min-width:767px)") {
        font-size: $f-12;
      }
    }
  }
  .content-footer {
    a, p {
      @include media-query("(max-width:1100px) and (min-width:767px)") {
        font-size: $f-10;
      }
    }
  }
}