header {
  height: 157px;
  .top-header {
    background-color: $color-Gainsboro;
    img {
      position: relative;
      top: 10px;
    }
    .slogan {
      font-size: 14px;
      margin-bottom: 0.1rem;
      margin-left: 1rem;
    }
  }
  .bottom-header {
    background-color: $color-prussian-blue;
    .nav-tabs {
      border-color: transparent;
      .nav-item.show .nav-link, .nav-link.active {
        background-color: transparent;
        border-color: transparent;
        color: #fc9c12;
      }
      .nav-item {
        &.position-absolute {
          left: 0;
        }
        .nav-link {
          color: #ececec;
          &:hover {
            border-color: transparent;
            color: #fc9c12;
          }
          &:focus {
            border-color: transparent;
            color: #fc9c12;
          }
          &.dropdown-toggle {
            &:after {
              top: 6px;
              position: relative;
            }
          }
        }
        &.dropdown {
          &:hover {
            .dropdown-menu {
              display: block;
              transform: translate3d(-40px, 42px, 0px);
              width: 800px !important;
              left: auto !important;
              padding: 20px 5px !important;
              top: 0 !important;
              margin: 0 auto;
              border-radius: 6px;
              border: 6px solid $color-prussian-blue;
              .list {
                &:last-child {
                  border: 0;
                }
                display: inline-block;
                border-right: 1px solid #cecece;
                .dropdown-item {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      li{
        &:last-child{
          margin-left:auto !important;
        }
      }
    }
  }
  .fix-menu-large {
    width: 100% !important;
    position: fixed !important;
    right: 0 !important;
    top: -90px !important;
    z-index: 999;
    background-position: center;
    background-repeat-y: no-repeat;
  }
  @include media-query(LB) {
    height: 60px;
  }
  .header-small {
    height: 60px;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: $color-Gainsboro;
    box-shadow: 0 0 12px -3px $color-prussian-blue;
    padding: 0 25px;
    direction: rtl;
    .icon-search-small {
      left: 10px;
      height: 21px;
      line-height: 1.6;
    }
    a {
      color: $color-prussian-blue;
    }
  }
  .menu-items {
    z-index: 1003;
    top: 0;
    right: -300px;
    width: 300px;
    background-color: #272727;
    transition: all .5s;
    overflow-y: scroll;
    .nav-link {
      @include media-query(LB) {
        padding: .5rem 0;
      }
    }
    .fas.float-left {
      top: 6px;
    }
    .close-menu > .far {
      font-size: $f-26;
    }
    ul {
      float: right;
      width: 100%;
      padding: 15px;
      &.menu-down {
        display: none;
        li {
          @include media-query(LB) {
            color: $color-white;
            padding: 0;
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.rtl {
  header {
    .slogan {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .dropdown-menu {
      transform: translate3d(40px, 42px, 0px) !important;
      .list {
        &:last-child {
          border: 0 !important;
        }
        border-right: 0 !important;
        border-left: 1px solid #cecece !important;
        .dropdown-item {
          font-size: 14px;
        }
      }
    }
    .nav-tabs {
      li{
        &:last-child{
          margin-right:auto ;
          margin-left: 0 !important;
        }
      }
    }
    .nav-item {
      .nav-link {
        &.dropdown-toggle {
          &:after {
            right: 5px;
          }
        }
      }
    }

  }
}

//==========================================
//BlackPage
//==========================================
.black-page {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  //cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBT…owMBY2mDAAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC), default;
  background-color: rgba(0, 0, 0, .68);
  z-index: 20;
  position: fixed;
  display: none;
}

g {
  g {
    text {
      font-size: inherit;
      tspan {
        font-size: inherit;
        @include media-query(LB) {
          font-size: 10px;
        }
      }
    }
  }
}