@include font-face(IRANSans, '../fonts/IRANSansWeb(FaNum)', normal, normal, woff);
@include font-face(IRANSans, '../fonts/IRANSansWeb(FaNum)_Light', 300, normal, woff);
@include font-face(IRANSans, '../fonts/IRANSansWeb(FaNum)_Medium', 500, normal, woff);
@include font-face(IRANSans, '../fonts/IRANSansWeb(FaNum)_Bold', bold, normal, woff);
@include font-face(icon_font, '../fonts/icon_font', normal, normal, woff);

[class*="font-weight-"] {
  font-family: IranSans, $DefaultFonts;
}
.font-weight-normal {
  font-weight: 500!important;
}
[class^="icon-font-"]:before,
[class^="icon-font-"]:after {
  font-family: icon_font, $DefaultFonts;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}

body {
  font-family: IRANSans, $DefaultFonts;
}

a, a:active, a:hover {
  text-decoration: none;
  color: inherit
}

a:hover {
  color: $color-cream-can !important;
}

ul li {
  list-style: none
}

//==========================================
//colors
//==========================================
.color-black{
  color: $color-black;
}

.color-mine-shaft {
  color: $color-mine-shaft;
}

.color-mine-shaft-2 {
  color: $color-mine-shaft-2;
}

.color-mine-shaft-bright {
  color: $color-mine-shaft-bright;
}

.color-mine-shaft-bright-2 {
  color: $color-mine-shaft-bright-2;
}

.color-dove-gray {
  color: $color-dove-gray;
}

.color-surfie-green {
  color: $color-surfie-green;
}

.color-ming {
  color: $color-ming;
}

.color-silver {
  color: $color-silver;
}

.color-cream-can {
  color: $color-cream-can;
}

.color-tree-poppy {
  color: $color-tree-poppy;
}

.color-pussian-blue {
  color: $color-Prussian-Blue;
}

.color-bahama-blue {
  color: $color-bahama-blue;
}

//==========================================
//background colors
//==========================================
.bg-black {
  background-color: $color-black;
}

.bg-black-tree-poppy {
  background-color: $color-tree-poppy;
}

.color-white-smoke {
  background-color: $color-white-smoke;
}

//==========================================
//margin and padding
//==========================================
.m-top {
  margin-top: $margin-and-padding-size;
}

.m-bottom {
  margin-bottom: $margin-and-padding-size;
}

.p-top {
  padding-top: $margin-and-padding-size;
}

.p-bottom {
  padding-bottom: $margin-and-padding-size;
}

//==========================================
//icon fonts
//==========================================
.icon-font-earth:before {
  content: "\f100";
}

.icon-font-writing:before {
  content: "\f101";
}

.icon-font-microphone:before {
  content: "\f102";
}

.icon-font-academy:before {
  content: "\f103";
}

.icon-font-note-writing:before {
  content: "\f104";
}

.icon-font-journal:before {
  content: "\f105";
}

//==========================================
//z-index
//==========================================
.z-index-1 {
  z-index: 1;
}

//==========================================
//font size
//==========================================
.font-size-10 {
  font-size: $f-10;
}

.font-size-12 {
  font-size: $f-12;
}

.font-size-14 {
  font-size: $f-14;
}

.font-size-16 {
  font-size: $f-16;
}

//==========================================
//flex
//==========================================
.flex-2 {
  flex: 2;
}

.flex-100 {
  flex: 100;
}

//==========================================
//container
//==========================================
@include media-query("(min-width: 1200px)"){
  .container.custom-container{
    max-width: 1550px;
    width: 90%;
  }
}

//==========================================
//load page
//==========================================
.load-page {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $color-white;
  z-index: 999;

}
#loading{
  background-color: $color-Prussian-Blue;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  top: 0;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;

}
.object{
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-left: 5px solid $color-Prussian-Blue;
  border-right: 5px solid $color-Prussian-Blue;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-animation: animate 1.5s infinite;
  animation: animate 1.5s infinite;
}

#object_one{
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#object_two{
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#object_three{
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#object_four{
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;

}

@-webkit-keyframes animate {


  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}

@keyframes animate {

  50% {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }


}