.Width100, .images, body, html {
  width: 100%


}



.margin-none {
  margin: 0 !important;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/IRANSansWeb_Bold.woff2) format('woff2')
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/IRANSansWeb_Medium.woff2) format('woff2')
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/IRANSansWeb_Light.woff2) format('woff2')
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IRANSansWeb.woff2) format('woff2')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}
body{
  font-family: IRANSans , $DefaultFonts;
}

a, a:active, a:hover {
  text-decoration: none;
  color: inherit
}

ul li {
  list-style: none
}

.images {
  background-size: cover;
  background-position: center;
  height: 100%
}

.V-Center, .V-Center.col {
  vertical-align: middle;
  float: none;
  display: inline-block
}

.PaddingNone {
  padding: 0 !important
}

.Regester body {
  background-image: url(../images/pattern.jpg);
  width: 100%;
}
@include MediaQuery(LB){
  .container {
    width:88.6% !important;
  }
}