$zero : 0;
$all-width : 100%;
$half-width : 50%;
$all-Height : 100%;
$half-Height : 50%;
$f05a67 : #f05a67;
$f90054 : #f90054;
$DefaultFonts : serif, sans-serif, cursive, fantasy, monospace, serif, sans-serif, cursive, fantasy, monospace;


$color-white: #ffffff;
$color-solitude: #DDE1E7;
$color-solitude-2: #eceff4;
$color-Air-Force-Blue:#567b9e;
$color-Pelorous:#2fafb0;
$color-Dark-Pink :#f05563;
$color-black: #222;
$color-black-alpha-4: rgba(0, 0, 0, .04);
$color-gray: #797979;
$border-color-gray:rgba(182, 182, 182, 0.44);
$color-white-alpha:rgba(255, 255, 255, 0.65);
$color-red: #e80007;
$color-green: #3dc304;

//font-size
$font-size-12: .75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
