$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace, serif, sans-serif, cursive, fantasy, monospace;
//===============================================
//colors
//===============================================
$color-mine-shaft : #232323;
$color-dove-gray: #6c6c6c;
$color-silver: #bbbbbb;
$color-surfie-green: #10698a;
$linear-gradient-midnight-blue-to-turquoise : -webkit-linear-gradient(bottom,#00386e 0%,#2dc1bc 81%);
//===============================================
//numbers
//===============================================
$margin-and-padding-size:2.5rem;