$DefaultFonts: serif, sans-serif, cursive, fantasy, monospace, serif, sans-serif, cursive, fantasy, monospace;
//===============================================
//colors
//===============================================
$color-white: #fff;
$color-white-25: rgba(255, 255, 255, 0.25);
$color-wild-sand: #f4f4f4;
$color-silver-chalice: #b1b0b0;
$color-silver-chalice-24: rgba(177, 176, 176, 0.24);
$color-gainsboro: #e0e0e0;
$color-black: #000;
$color-black-85: rgba(0, 0, 0, 0.85);
$color-black-32: rgba(0, 0, 0, 0.33);
$color-cream-can: #f2bb4e;
$color-tree-poppy: #fc9c12;
$color-macaroni-and-cheese: #fec874;
$color-bridal-heath: #fff9f3;
$color-silver : #313131;
$color-mine-shaft-bright: #313131;
$color-scorpion: #575757;
$color-serenade: #fff5eb;
$color-cod-gray : #181818;
$color-dim-gray : #666666;


$color-orange-peel: #ffa200;



$color-mine-shaft-bright-2: #373737;
$color-mine-shaft: #232323;
$color-mine-shaft-dark: #252525;
$color-mine-shaft-2: #3f3f3f;
$color-mine-shaft-3: #242424;
$color-athens-gray : #f7f7f8;

$color-mine-shaft-half: rgba(51, 51, 51, 0.5);
$color-corduroy: #636563;
$color-tuna: #3e3e44;
$color-dove-gray: #6c6c6c;
$color-silver: #bbbbbb;
$color-emperor: #505050;
$color-alto: #d2d2d2;
$color-alto-2: #d9d9d9;
$color-sauvignon: #fff8f6;
$color-surfie-green: #10698a;
$color-ming: #376083;
$color-tory-blue: #114fb2;



$color-Gainsboro: #e3e3e3;
$color-prussian-blue: #00386e;
$color-denim: #108aba;
$color-midnight-blue: #00386e;
$color-regal-blue: #01396e;
$color-sapphire: #012662;
$color-chestnut-rose: #d3625c;
$color-persian-red: #cc3333;
$color-bahama-blue: #205582;
$color-white-smoke: #f8f8f8;
$color-gallery: #ededed;
$color-turquoise: #2dc1bc;
$color-persian-green: #00b7a3;
$color-pine-green: #007d6e;
$color-clear-day: #f3fffb;



$color-zircon: #f6f8ff;

$color-silver-chalice: #adadad;
$color-silver-sand: #c0c1c1;




$background-color-before-footer: rgba(0, 0, 0, 0.78);
$linear-gradient-midnight-blue-to-turquoise: -webkit-linear-gradient(bottom, #00386e 0%, #2dc1bc 81%);
//===============================================
//numbers
//===============================================
$L: 1200px;
$M: 992px;
$S: 768px;
$xs: 576px;
$margin-and-padding-size: 2.5rem;
$f-10: 10px;
$f-16: 16px;
$f-14: 14px;
$f-12: 12px;
$f-10: 10px;
$f-26: 26px;