.work-cloud{
  height: 410px;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 35px 0 !important;
  .btn-group{
    left: 50px;
    top: 0;
    .dropdown-item{
      text-align: center;
      width: auto;
    }
  }
}

.import-research{
  background: #fff;
  box-shadow: 1px 1px 11px #00000024;
  .custom-card{
    display: inline-block;
    flex:auto;
    max-width: none;
    .custom-card-sub-title{
      line-height: 2;
    }
    .custom-card-icon{
      img{
        width:210px;
        height:205px;
      }
    }
  }
}