.contact-us{
    p{
      line-height: 2;
    }
  textarea{
    height: 200px;
  }
  .info-contact-us{
    background-color: $color-wild-sand;
    border-right: 5px solid $color-prussian-blue;
    border-radius: 5px;
  }
}